@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  @apply container;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Inter", sans-serif;
  color: white;
}

.footer {
  @apply container;
}

@font-face {
  font-family: "Grotesk";
  src: url("../assets/SpaceGrotesk-VariableFont_wght.ttf");
}
