.container {
  .wrapper {
    background: linear-gradient(
        113.75deg,
        #000000 25.42%,
        rgba(0, 70, 109, 0.49) 151.69%,
        rgba(0, 111, 173, 0.25) 174.6%
      ),
      url(../assets/images/cloud.gif) no-repeat;
    opacity: 0.97;
    background-size: cover;

    // height: 100vh;
    padding: 0 3rem;

    @media (max-width: 400px) {
      padding: 0 1.5rem;
    }
  }
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
